.auth {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;

  .img {
    animation: slide-down 0.8s ease;
  }
  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.form {
  animation: slide-up 0.5s ease;
  padding: 2rem;
  h2 {
    color: var(--color-orange);
    text-align: center;
    font-size: 2rem;
  }
  a {
    color: var(--color-dark);
  }
  .register {
    p {
      font-size: 1.3rem;
      display: inline-block;
    }
    a {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 700px) {
  .img {
    display: none;
  }
}
