.footer {
  background-color: var(--dark-blue);
  color: var(--color-white);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
