@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

:root {
  --font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
}

a {
  text-decoration: none;
  color: var(--color-white);
  /* color: var(--dark-blue); */
  transition: all 0.3s;
  font-size: 1.4rem;
}

a:hover {
  color: var(--color-dark);
  font-size: 1.5rem;
}
ul,
li {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 100%;
}

p {
  padding: 0;
}

.active {
  position: relative;
  color: var(--color-danger);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/** button styles **/

.--btn {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}

.--btn-lg {
  padding: 8px 10px;
}

.--btn-block {
  width: 100%;
}

.--btn-primary {
  color: #fff;
  background: #007bff;
}
.--btn-secondary {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
.--btn-danger {
  color: #fff;
  background: orangered;
}

.--btn-success {
  color: #fff;
  background: #28a745;
}

.--text-center {
  text-align: center;
}
